.corpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagem{
    width: 15em;
    align-self: 'center';
    margin-top: 2em
}

.card{
    margin: 2em;
}

.btn{
    width: 15em;
}