html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: khaki;
}

.componente {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: 20vh 40vh 40vh;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.corpoCarrinho {
    grid-column-start: 2;
    grid-column-end: 3;

    flex-direction: column;
    align-content: flex-start;
}

.footer {
    grid-column-start: 2;
    grid-column-end: 3;

    text-align: right;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;

    font-size: 1.2em;
}

.titulo {
    width: 40%;
}

.preco {
    width: 30%;
}

.btnLista {
    width: 20%;
}

.textoTotal {
    font-size: 1.2em;
}

.btnLista {
    text-align: right;
}

.btnFuncao {
    width: 2em;
    margin-left: 1em;
}

.btnOpercao {
    margin-right: 1em;
}
