.container {
    margin-top: 5em;
}

.form {
    display: flex;
}

.colunaItem {
    display: flex;
    justify-content: space-between;

    margin-top: 1em;
    margin-bottom: 1em;

    align-items: center;
}

.linhaItem {
    width: 100%;
}

.campo {
    font-weight: bold;
    font-size: 3em;
}

.textoItem {
    font-weight: 500;
    font-size: 1.8em;
}

.colunaSoma {
    text-align: right;
    font-weight: bold;
    font-size: 3em;
}

.colunaBotao {
    text-align: right;
}